# macOS
.DS_Store

# Xcode - User settings
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Xcode - Build
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
Packages/
.build/
